/**
* @name "Roblox"
* @version 2.1.3
* @description "for YT, Fans roblox."
* @author vlmnik#2547
* @Source https://github.com/vlmnik/themes
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');
:root {
--themeColor1: #ffffff;
--themeColor2: #ff0026;
--customFont: 'Josefin Sans', sans-serif;
--homeImage: url('https://i.imgur.com/oOKwCVJ.png');
--backgroundColor: #ef6306;
--backgroundImage: url('https://i.imgur.com/qQJu2Al.jpg');
--backgroundBlur: 8px;
--backgroundOpacity: 0.65;

--rs-small-spacing: 2px;
--rs-large-spacing: 0px;
--rs-width: 3px;
--rs-avatar-shape: 16%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-streaming-color: #643da7;
--rs-offline-color: #636b75;
--rs-invisible-color: #ffffff;
}